.back {
    margin-left: 110px;
    margin-right: 110px;
}

.button {
    margin: 10px;
}

.back2 {
    margin-top: 30px;
    margin-left: 30px;
}

.dot {
    list-style-type: none;
    color: black;
}