.main-cont {
    background-color: #86d2f2;
    height: 100vh;
}

.main-head {
    font-family: "Roboto";
    font-weight: bold;
    padding-top: 10px;
}

#stopButton {
    width: 60px;
    color: white;
    background-color: #1f1d41;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}

#readyButton {
    width: 60px;
    color: white;
    background-color: #1f1d41;
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}

#goButton {
    width: 60px;
    color: white;
    background-color: #1f1d41;
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.signalCont {
    height: 250px;
    width: 80px;
    background-color: #1f1d41;
    border-radius: 30px;
    padding: 20px;
}

#stopLight {
    background-color: #4b5069;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

#readyLight {
    background-color: #4b5069;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: 40px;
}

#goLight {
    background-color: #4b5069;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
}