.bg-container {
    background-color: #fff;
    height: 100vh;
}

.color-head {
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
}
.button {
    font-family: "Open Sans";
    font-size: 14px;
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.button-1 {
    background-color: #e0e0e0;
} 
.button-2 {
    background-color: #6fcf97;
} 
.button-3 {
    background-color: #56ccf2;
} 
.button-4 {
    background-color: #bb6bd9;
} 

.selected-color{
    background-color: #222222;
    color: white;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
}
.selectedColor {
    color: #49a6e9;
}
.belowtext {
    font-family: "Open Sans";
    font-size: 20px;
}